html, body
    height 100%

body
    background url('../images/bg.png') repeat 0 0 #eee
    border 5px solid #444
    box-shadow 0 0 15px rgba(0,0,0,0.8) inset
    text-shadow 1px 1px 0 #ffffff
    padding 20px

a
    color #5d6fad
    text-decoration none

    &:hover, &:visited
        color #3C549B
        text-decoration none
